<div id="main_inner" class="fixed">
    <div id="primaryContent_2columns">
        <div id="columnA_2columns">
            <h1><span style="font-size: xx-large;">Welcome to my web design. <br /></span></h1>
            <p>We are dedicated to providing the best of the internet, with a personal touch and real feeling of being taken care of.</p>
            <p>We will provide consulting for your company, if you are considering creating a website or upgrading / updating your site.</p>
            <p>With a wealth of experience in internet based companies we bring decades of essential information straight to you, to enable you to make an informed and educated decision regarding your companies internet presence.</p>
            <p>Having worked on the internet for as long as we have, we have seen how well it can work, but also how badly it can fail. We know what to expect and how to prevent that being a disaster. If your website is crucial to your business, we can show you how to guarantee that it will always be on the air.</p>
            <p>If you are interested in hearing more about this, please do get in touch at info@mywebdesign.ie</p>
        </div>
    </div>
</div>