<div id="main_inner" class="fixed">
    <div id="primaryContent_2columns">
        <div id="columnA_2columns">
            <h1><span style="font-size: xx-large;">Welcome to my web design. <br /></span></h1>
            <p>My Web Design has always been committed to spreading information, and helping people to understand the internet they are using now, and to contribute to it as well.</p>
            <p>We intend to take the content into a more class driven style, where our editors will create a class and allow it to be downloaded (for free of course!) and it will be packed with comments and also have an associated tutorial explaining the development of the class.</p>
            <p>We will still be providing our HTML, CSS and Javascript tutorials, of course these will be in a similar format to the first tutorials, and I'm sure they willl be as appreciated as always.</p>
            <p>You may notice we are now using the Concrete5 CMS, it is an amazing CMS and I highly recommend it to anyone wanting to make constant tweaks and updates to their webpages. You can get more info on it from their website <a href="http://www.concrete5.org" target="_blank">http://www.concrete5.org</a></p>	
        </div>
    </div>
</div>