<div id="main_inner" class="fixed">
    <div id="primaryContent_2columns">
        <div id="columnA_2columns">
            <h1><span style="font-size: xx-large;">Port folio</span></h1>
            <div class="display-case">
                <div class="shelf">
                    <div class="display">
                        
                    </div>
                    <div class="display">
                        
                    </div>
                    <div class="display">
                        
                    </div>
                </div>
                <div class="shelf">
                    <div class="display">
                        
                    </div>
                    <div class="display">
                        
                    </div>
                    <div class="display">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>